*{
    list-style: none;
    text-decoration: none !important;
}
.btn-primary{
    background-color: #EC6708 !important;
    border: transparent !important;
}

.custom-w{
  margin-left: 80px !important;
  margin-right: 80px !important;
  padding: 20px 0px;
}
.table-fs{font-size: 14px;}

.hover-effect:hover {
  background-color: #2d76be;
  color: #052f6d;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
/* .hover-ef:hover{
    background-color: rgb(226, 218, 218); 
  color: #0d6efd;
  transition: background-color 0.2s ease;
  border-radius: 5px;
} */

.custom-position{
  border-right: 0.2px solid rgba(207, 193, 193, 0.459);
  position: sticky;
  left: 0;
  top: 0;
  height: 100vh;
}
.fs-custom{
  font-size: 12px !important;
}
.fs-custom2{
  font-size: 13px !important;
}
.fs-text-custom{font-size: 12px !important;}